/// Helfer-Mixing um Prefixe hinzuzfügen
/// Beispiel:
/// .foo {
///    @include prefix(transform, rotate(90deg), ('webkit', 'ms'));
/// }
///  .foo {
///   -webkit-transform: rotate(90deg);
///    -ms-transform: rotate(90deg);
///    transform: rotate(90deg);
///  }
/// @access public
/// @author HugoGiraudel
/// @param {String} $property - CSS-Eigenschaft ohne Prefix
/// @param {*} $value - Reiner CSS-Wert
/// @param {List} $prefixes - Liste von Prefixen die hinzugefügt werden sollen
@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    -#{$prefix}-#{$property}: $value;
  }
  #{$property}: $value;
}

/// Responsive-Manager
/// @access public
/// @link https://sass-guidelin.es/de/
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );

    //@media #{$query} {
    @media only screen and #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.';
  }
}

/// =============================================================================
/// function String Replace (suchen / ersetzen)
///=============================================================================
/// @access public
/// @link https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6
/// @param {String} $string
/// @param {String} $search  - suchen nach
/// @param {String} $replace - ersetzen
/// =============================================================================
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

/// =============================================================================
/// function calc vw
///=============================================================================
/// @access public
/// @link http://sassbreak.com/viewport-relative-headings-with-sass/
/// @param {String} $target - value in px
/// =============================================================================
@function get-vw($target) {
  $vw-context: ($max-breakpoint * .01) * 1px;
  @return ($target/$vw-context) * 1vw;
}


///=============================================================================
/// mixin font-face - fontface-manager
///=============================================================================
/// @access public
/// @link https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6
/// @param {String} $name - z.B. Barmeno-Medium
/// @param {String} $path - path + file name. Ex : path/to/font/filename
/// @param {*} $weight - default null
/// @param {*} $style - default null
/// @param {List} $exts - default eot woff2 woff ttf svg
///=============================================================================
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
          svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
          eot: "embedded-opentype",
          otf: "opentype",
          ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

///=============================================================================
/// mixin bgimage
///=============================================================================
/// @access public
/// @param {String} $folder - z.B. deli
/// @param {String} $image - z.B. formbtn.png
///=============================================================================
@mixin bgimage($folder, $image) {
  background-image: url(quote("../images/" + $folder + "/" + $image + ""));
}

///=============================================================================
/// mixin center-block - quickly centre a block element
///=============================================================================
/// @access public
/// @link https://engageinteractive.co.uk/blog/top-10-scss-mixins
/// @link https://w3bits.com/sass-mixins/
///=============================================================================
@mixin center-block {
  display: block;
  margin: {
    left: auto;
    right: auto;
  }
}

///=============================================================================
/// mixin center-vertically
///=============================================================================
/// @access public
/// @link https://engageinteractive.co.uk/blog/top-10-scss-mixins
/// @link https://w3bits.com/sass-mixins/
///=============================================================================
@mixin center-vertically {
  position: absolute;
  top: 50%;
  left: 50%;
  @include prefix(transform, translate(-50%, -50%), 'webkit' 'ms');
}


///=============================================================================
/// mixin abs-position - To use the absolute positioning mixin,
//  you simply need to add the values for the four directions.
//  Don’t forget to pay attention to the order of the arguments.
//  They follow each other in clockwise direction.
///=============================================================================
/// @access public
/// @link https://www.developerdrive.com/10-best-sass-mixins-for-web-developers/
/// @param {*} $top
/// @param {*} $right
/// @param {*} $bottom
/// @param {*} $left
///=============================================================================
@mixin abs-position ($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
